@model StLouisSites2.ViewModels.Location.LocationDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>
    @*<a asp-controller="LocationRating" asp-action="Create" asp-route-locationID="@Model.ID">Rate/Review</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Ratings
            </th>
            <th>
                Reviews
            </th>

        </tr>
    </thead>
    <tbody>
        
        <tr>

            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Description)
            </td>
            @foreach (var item in Model.LocationRatingDetailsViewModels)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Review)
                </td>
            }
            </tr>
    @*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@



            
</tbody>
</table>

